@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", monospace;
}

.spin {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(449deg);
  }
}
@-moz-keyframes rotation {
  from {
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(449deg);
  }
}
@-o-keyframes rotation {
  from {
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(449deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(449deg);
  }
}

.coin {
  animation: animate 2.5s linear infinite;
  perspective: 800px;
}
@keyframes animate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
